
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        
        <div class="sidebar-header">
            <h3 class="text-center">BluTel</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">
                    <i class="fas fa-voicemail"></i>
                    Inbox
                </a>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-phone-alt"></i>
                    Calls
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                
                <a href="#">
                    <i class="fas fa-tty"></i>
                    Dial
                </a>
                
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>

    </nav>
    
</div>