
  <div class="text-center bg-white p-4 shadow rounded">
      <div class="row">
        <div class="col-9 pr-0">
          <input type="text" class="form-control" maxlength="10" pattern="\d{10}" onkeypress="return isNumberKey(event)">
        </div>
        <div class="col-3 pl-0">
          <button class="btn btn-success"><i class="fas fa-phone-alt" aria-hidden="true"></i></button>
        </div>
      </div>
      <!-- <input type="text" class="form-control" maxlength="10" pattern="\d{10}" onkeypress="return isNumberKey(event)"> -->
      <!-- <div class="botrow"> -->
        <!-- <button class="btn btn-sm btn-success"><i class="fas fa-phone-alt" aria-hidden="true"></i></button> -->
      <!-- </div> -->
      <div class="row text-center mb-2 mt-3">
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="one">1</div>
        </div>

        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="two">2</div>
        </div>
        
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="three">3</div>
        </div>
          
      </div>

      <div class="row  text-center mb-2">
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="four">4</div>
        </div>

        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="five">5</div>
        </div>
        
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="six">6</div>
        </div>
          
      </div>

      <div class="row  text-center mb-2">
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="seven">7</div>
        </div>

        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="fight">8</div>
        </div>
        
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="nine">9</div>
        </div>
          
      </div>

      <div class="row  text-center">
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="star">*</div>
        </div>

        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="zero">0</div>
        </div>
        
        <div class="col-4">
          <div class="digit shadow-sm rounded-circle p-2" id="hash">#</div>
        </div>
          
      </div>
      
  </div>
