<!-- Page Content  -->
<!-- <div class="wrapper"> -->
    <div id="content" class="p-0 mr-0" >
        <nav class="navbar navbar-expand-lg navbar-light bg-blue">
            <div class="container-fluid">
        
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
                <i class="text-white fas fa-user"></i>
            </div>
        </nav>     
    </div>