@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body,html{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.bg-blue {
    background: #2699fb;
}
